.Ratios {
    cursor: pointer;
    position: absolute;
    left: 17%;
    font-size: 40px;
    margin: 5px;
}

.RatiosSimplified {
    cursor: pointer;
    position: absolute;
    left: 70%;
    font-size: 40px;
    margin: 5px;
}