.DivisionSign {
    font-size: 100px;
}
.clearable {
    font-size: 40px;
}
.font {
    font-size: 40px;
}
#video {
    position: absolute;
    left: 62%;
    top: 14%;
}
#DivisionSign1 {
    position: absolute;
    left: 30%;
    top: 29%;
}
#DivisionSign2 {
    position: absolute;
    left: 32%;
    top: 16%;
}
#Divisor {
    position: absolute;
    left: 24%;
    top: 36%;
}
#Dividend {
    position: absolute;
    left: 34%;
    top: 36%;
}
#usersAns {
    position: absolute;
    font-size: 40px;
    left: 34%;
    top: 24%;
    width: 100px;
    height: 60px;
}
#Quotient {
    position: absolute;
    left: 34%;
    top: 21%;
}
#Correct {
    position: absolute;
    top: 45%;
    left: 1%;
}
.bs-example {
    margin: 20px;
}
#myNavBar {
    background: blue;
}
.first-child {
    background: blueviolet !important;
}
.navbar-inverse .navbar-brand {
    color: #00FFFF;
}
.navbar-inverse .navbar-nav > li > a {
    color: #ffffff;
}
.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus {
    background-color: #ffffff;
}
.navbar-inverse .navbar-nav .open .dropdown-menu > li > a {
    color: #ffffff;
    background: blue;
}
.navbar-inverse .navbar-nav .open .dropdown-menu > li > a:hover {
    background-color: #f68400;
}