#AnswerBox1 {
    position: absolute;
    height: 30px;
    width: 100px;
    top: 45%;
    left: 47%;
    border: 3px solid lightskyblue;
    font-size: 20px;
    color: orange;
}

#Final-Answer {
    position: absolute;
    top: 48%;
    left: 36%;
    font-size: 40px;
    display: none;
}

.Answer {
    position: absolute;
    font-size: 40px;
}

#Description {
    font-size: 20px;
}

#Correct {
    font-size: 30px;
}

a:hover {
    font-weight: bold;
}

.Factor-Multiple1 {
    position: absolute;
    top: 37%;
    left: 50%;
    font-size: 40px;
}

.Factor-Multiple2 {
    position: absolute;
    top: 37%;
    left: 73%;
    font-size: 40px;
}