#round {
    font-size: 20px;
}
table {
    display: inline-block;
}
#FruitTable {
    position: relative;
    font-size: 20px;
    border: dodgerblue solid 2px;
    left: 25%
}
#ConversionTable {
    position: relative;
    font-size: 20px;
    border: orange solid 2px;
    left: 40%
}
hr {
    background: linear-gradient(45deg, #0023ff, #30f639 70%);
    background: -moz-linear-gradient(45deg, #0023ff, #30f639 70%);
    background: -webkit-linear-gradient(45deg, #0023ff, #30f639 70%);
    background: -o-linear-gradient(45deg, #0023ff, #30f639 70%);
    height: 5px;
}
.bs-example {
    margin: 20px;
}
#myNavBar {
    background: blue;
}
.first-child {
    background: blueviolet !important;
}
.navbar-inverse .navbar-brand {
    color: #00FFFF;
}
.navbar-inverse .navbar-nav > li > a {
    color: #ffffff;
}
.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus {
    background-color: #ffffff;
}
.navbar-inverse .navbar-nav .open .dropdown-menu > li > a {
    color: #ffffff;
    background: blue;
}
.navbar-inverse .navbar-nav .open .dropdown-menu > li > a:hover {
    background-color: #f68400;
}